@charset "UTF-8";
* { -webkit-box-sizing: border-box; box-sizing: border-box; }

*:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body { margin: 0; padding: 0; }

body { font-size: 14px; min-width: 550px; position: relative; line-height: 1; overflow-x: hidden; opacity: 1; }

a { text-decoration: none; }

h1 { margin: 0; font-size: 3.7em; letter-spacing: 2px; line-height: 63px; color: #ffffff; text-align: left; font-family: "Roboto-Light", sans-serif; font-style: normal; font-weight: 600; }

h2 { margin: 0; font-size: 1.7em; letter-spacing: 1px; line-height: 40px; color: #1d1d1d; text-align: left; font-family: "Roboto-Light", sans-serif; }

h3 { margin: 0; font-size: 1.3em; letter-spacing: 2px; line-height: 22px; color: #ffffff; text-align: left; font-family: "Roboto-Light", sans-serif; font-style: normal; font-weight: 500; -webkit-transition: 0.4s; -o-transition: 0.4s; transition: 0.4s; }

h4 { margin: 0; font-size: 1.3em; letter-spacing: 2px; line-height: 22px; color: #2B2D3A; text-align: left; font-family: "Roboto-Light", sans-serif; font-style: normal; font-weight: 500; -webkit-transition: 0.4s; -o-transition: 0.4s; transition: 0.4s; }

p { margin: 0; font-family: "Roboto-Light", sans-serif; font-size: 1em; letter-spacing: 1px; color: rgba(255, 255, 255, 0.8); line-height: 17px; }

.wrapper { margin: 0 auto; padding: 0 10px; }

.button { -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; text-align: center; font-size: 1.1em; color: #ffffff; border: 1px solid #ffffff; border-radius: 8px; background-color: rgba(0, 0, 0, 0); -webkit-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; padding: 10px 20px; }

.button:hover { background-color: #397DFF; border: 1px solid #397DFF; }

.popup__hide { display: none; }

@font-face { font-family: "Roboto-Thin"; font-weight: normal; font-style: normal; src: url("../fonts/Roboto-Thin.eot"); src: url("../fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Thin.woff") format("ttf"), url("../fonts/Roboto-Thin.ttf") format("truetype"); }

@font-face { font-family: "Montserrat-Black"; font-weight: normal; font-style: normal; src: url("../fonts/Montserrat-Black.eot"); src: url("../fonts/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Black.woff") format("ttf"), url("../fonts/Montserrat-Black.ttf") format("truetype"); }

@font-face { font-family: "Roboto-Light"; font-weight: normal; font-style: normal; src: url("../fonts/Roboto-Light.eot"); src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff") format("ttf"), url("../fonts/Roboto-Light.ttf") format("truetype"); }

@font-face { font-family: "Roboto-Regular"; font-weight: normal; font-style: normal; src: url("../fonts/Roboto-Regular.eot"); src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("ttf"), url("../fonts/Roboto-Regular.ttf") format("truetype"); }

@font-face { font-family: "PlayfairDisplay-Black"; font-weight: normal; font-style: normal; src: url("../fonts/PlayfairDisplay-Black.eot"); src: url("../fonts/PlayfairDisplay-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay-Black.woff") format("ttf"), url("../fonts/PlayfairDisplay-Black.ttf") format("truetype"); }

@font-face { font-family: "PlayfairDisplay-Bold"; font-weight: normal; font-style: normal; src: url("../fonts/PlayfairDisplay-Bold.eot"); src: url("../fonts/PlayfairDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay-Bold.woff") format("ttf"), url("../fonts/PlayfairDisplay-Bold.ttf") format("truetype"); }

@font-face { font-family: "HammersmithOne-Regular"; font-weight: normal; font-style: normal; src: url("../fonts/HammersmithOne-Regular.eot"); src: url("../fonts/HammersmithOne-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/HammersmithOne-Regular.woff") format("ttf"), url("../fonts/HammersmithOne-Regular.ttf") format("truetype"); }

@font-face { font-family: "PlayfairDisplay-Regular"; font-weight: normal; font-style: normal; src: url("../fonts/PlayfairDisplay-Regular.eot"); src: url("../fonts/PlayfairDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay-Regular.woff") format("ttf"), url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype"); }

.header { background-color: #EBEEF5; }

.header__wrapper { max-width: 1220px; }

.nav { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; -webkit-align-content: center; -ms-flex-line-pack: center; align-content: center; min-height: 100px; }

.nav__logo { -webkit-align-self: center; -ms-flex-item-align: center; align-self: center; }

.nav__menu { -webkit-align-self: stretch; -ms-flex-item-align: stretch; align-self: stretch; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; -webkit-align-content: stretch; -ms-flex-line-pack: stretch; align-content: stretch; }

.nav__switch { display: none; cursor: pointer; padding-top: 35px; }

.nav__switch span { width: 36px; height: 4px; background: #2B2D3A; display: block; margin-bottom: 8px; -webkit-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; }

.nav__switch span:nth-child(1) { -webkit-transform-origin: left; -ms-transform-origin: left; transform-origin: left; }

.nav__switch span:nth-child(2) { -webkit-transform-origin: center; -ms-transform-origin: center; transform-origin: center; }

.nav__switch span:nth-child(3) { -webkit-transform-origin: left; -ms-transform-origin: left; transform-origin: left; }

.nav__ul { -webkit-align-self: stretch; -ms-flex-item-align: stretch; align-self: stretch; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; -webkit-align-content: stretch; -ms-flex-line-pack: stretch; align-content: stretch; min-height: 100%; margin: 0; }

.nav__li { -webkit-align-self: stretch; -ms-flex-item-align: stretch; align-self: stretch; -webkit-flex-basis: 12%; -ms-flex-preferred-size: 12%; flex-basis: 12%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; border-bottom: 2px solid #EBEEF5; list-style-type: none; text-transform: none; font-family: "Roboto-Light", sans-serif; font-size: 1em; -webkit-transition: 0.8s; -o-transition: 0.8s; transition: 0.8s; margin: 0 12px; padding: 0; min-height: 100%; }

.nav__li:hover { border-bottom: 2px solid #397DFF; border-radius: 1px; }

.nav__li a { -webkit-align-self: stretch; -ms-flex-item-align: stretch; align-self: stretch; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; color: rgba(43, 45, 58, 0.7); -webkit-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; font-weight: normal; letter-spacing: 1px; white-space: nowrap; }

.nav__li a:hover { color: #397DFF; }

.nav__li a .mail { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.nav__li a .mail--img { -webkit-transform: scale(0.9); -ms-transform: scale(0.9); transform: scale(0.9); }

.nav__li a .mail--text { margin-left: 8px; color: #2B2D3A; font-weight: bold; }

.nav__li a .phone { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; position: relative; }

.nav__li a .phone--img { -webkit-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }

.nav__li a .phone--text { margin-left: 10px; }

.nav__li a .phone--call { color: #397DFF; }

.nav__li a .phone--number { color: #2B2D3A; font-weight: bold; letter-spacing: 1.5px; margin-top: 5px; padding-left: 1px; }

.nav__popup { position: absolute; top: 1%; left: 40%; width: 538px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; z-index: 5; background-color: #ffffff; border-radius: 16px; padding: 32px 35px; }

.nav__popup h4 { font-weight: 600; font-size: 1.7em; line-height: 29px; color: #2B2D3A; }

.nav__popup p { font-weight: normal; font-size: 1.1em; line-height: 160%; color: #2B2D3A; padding-top: 12px; padding-bottom: 28px; }

.nav__popup--close { position: absolute; top: 0%; right: 0%; -webkit-transform: scale(0.4); -ms-transform: scale(0.4); transform: scale(0.4); z-index: 6; cursor: pointer; z-index: 12; }

.nav__form { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; -webkit-align-content: center; -ms-flex-line-pack: center; align-content: center; }

.nav__input { font-style: normal; font-weight: normal; font-size: 16px; line-height: 114%; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 9px; letter-spacing: 3px; padding: 15px 10px; margin-bottom: 24px; width: 100%; }

.nav__input--name { content: 'Имя*'; }

.nav__input--accept { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: left; -webkit-justify-content: left; -ms-flex-pack: left; justify-content: left; }

.nav__input--accept p { margin-top: 2px; margin-left: 5px; }

.nav__input:focus { border: none; }

.nav__input:active { border: none; }

.nav__input--accept { border: none; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; margin-bottom: 5px; }

.nav__input--accept p { font-style: normal; font-weight: normal; font-size: 0.85em; line-height: 17px; margin: 0; padding: 0; }

.nav__submit { font-style: normal; font-weight: 600; font-size: 18px; line-height: 22px; background-color: #397DFF; border: 1px solid #397DFF; border-radius: 8px; color: #ffffff; padding: 16px 0; }

.active span:nth-child(1) { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); left: 4px; background: #2B2D3A; }

.active span:nth-child(2) { -webkit-transform: rotate(315deg); -ms-transform: rotate(315deg); transform: rotate(315deg); right: 2px; background: #2B2D3A; }

.active span:nth-child(3) { -webkit-transform: scaleX(0); -ms-transform: scaleX(0); transform: scaleX(0); }

.active span:nth-child(3)::after { content: ''; display: table; clear: both; }

.active span { position: relative; width: 36px; height: 4px; background: #2B2D3A; display: block; margin-bottom: 8px; -webkit-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; }

.active span:nth-child(1) { -webkit-transform-origin: left; -ms-transform-origin: left; transform-origin: left; }

.active span:nth-child(2) { -webkit-transform-origin: center; -ms-transform-origin: center; transform-origin: center; }

.active span:nth-child(3) { -webkit-transform-origin: left; -ms-transform-origin: left; transform-origin: left; }

.slider { min-height: 624px; background-image: url("../img/slider-back.png"); background-size: cover; background-position: 50% 42%; overflow: hidden; position: relative; }

.slider__wrapper { max-width: 1220px; }

.slider__shadow { min-height: 624px; background: rgba(0, 0, 0, 0.5); background-size: cover; }

.slider__container { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; padding-top: 130px; }

.slider__for { -webkit-flex-basis: 42%; -ms-flex-preferred-size: 42%; flex-basis: 42%; }

.slider__for h1 { margin-top: 35px; margin-bottom: 60px; }

.slider__for p { font-size: 1.2em; margin-bottom: 45px; line-height: 148%; }

.slider__for .button { margin-right: 20px; }

.slider__nav { -webkit-flex-basis: 30%; -ms-flex-preferred-size: 30%; flex-basis: 30%; -webkit-align-self: flex-end; -ms-flex-item-align: end; align-self: flex-end; }

.slider__nav .num { font-family: "Roboto-Black",sans-serif; font-style: normal; font-weight: bold; font-size: 4.5em; line-height: 78px; letter-spacing: 1px; color: #397DFF; }

.slider__nav p { line-height: 160%; color: rgba(255, 255, 255, 0.7); }

.slider__nav--content { width: 200px; }

.block { min-height: 620px; background-color: #E5E5E5; }

.block__wrapper { padding: 0; padding-top: 166px; }

.block__container { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

.block__img { min-height: 620px; }

.block__img--1 { -webkit-flex-basis: 40%; -ms-flex-preferred-size: 40%; flex-basis: 40%; background: url("../img/block-img-1.png"); background-size: cover; background-position: 50% 50%; }

.block__img--2 { -webkit-flex-basis: 60%; -ms-flex-preferred-size: 60%; flex-basis: 60%; background: url("../img/block-img-2.png"); background-size: cover; background-position: 50% 50%; position: relative; }

.block__leftCol { position: absolute; top: 3%; left: 17%; }

.block__useCol { position: relative; }

.block__plus { position: absolute; top: 10%; left: 0; cursor: pointer; }

.block__rightCol { position: absolute; top: 3%; left: 70%; }

.block__popup { position: absolute; top: -254%; left: -170%; width: 350px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; border-radius: 10px; background-color: #ffffff; padding: 13px 25px; }

.block__popup::before { position: absolute; bottom: -7%; left: 42%; content: ""; width: 28px; height: 20px; background-color: #ffffff; -webkit-clip-path: polygon(100% 0, 50% 100%, 0 0); clip-path: polygon(100% 0, 50% 100%, 0 0); }

.block__row { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; position: relative; }

.block__row::before { content: "\D7"; position: absolute; top: -5%; right: -3%; -webkit-transform: scale(1.8); -ms-transform: scale(1.8); transform: scale(1.8); }

.block__row h4 { padding-top: 15px; }

.block__popup__li { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; font-style: normal; font-family: "Roboto-Light", sans-serif; font-weight: normal; font-size: 0.9em; line-height: 142%; padding: 5px 0; }

.block__popup__li img { width: 16px; height: 16px; margin-right: 8px; }

@media only screen and (max-width: 1250px) { .nav { -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; }
  .nav__ul { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .nav__li { -webkit-flex-basis: 25%; -ms-flex-preferred-size: 25%; flex-basis: 25%; margin: 0; }
  .nav__li a { -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; padding: 0 auto; } }

@media only screen and (max-width: 980px) { body { position: relative; font-size: 15px; }
  p { font-size: 1.4em; }
  .nav { -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
  .nav__switch { display: block; }
  .nav__switch:hover span { background: #397DFF; }
  .nav__toggle { display: none; }
  .nav__ul { position: absolute; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-align-content: flex-start; -ms-flex-line-pack: start; align-content: flex-start; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; right: 0; width: 100%; top: 90px; padding: 0 20px; margin: 0; text-align: center; background-color: #EBEEF5; z-index: 2; }
  .nav__li { -webkit-align-content: stretch; -ms-flex-line-pack: stretch; align-content: stretch; -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; width: 100%; height: 80px; font-size: 1.5em; border-bottom: 1px solid rgba(43, 45, 58, 0.1); }
  .nav__li:hover { border-bottom: 1px solid rgba(43, 45, 58, 0.1); }
  .nav__li a { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; height: 100%; padding: 15px 0; }
  .active__menu { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; } }

@media only screen and (max-width: 480px) { .nav__li { font-size: 2em; } }
