.block
    min-height: 620px
    background-color: #E5E5E5
    
    &__wrapper
        padding: 0
        padding-top: 166px

    &__container
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: center

    &__img
        min-height: 620px

        &--1
            flex-basis: 40%
            background: url('../img/block-img-1.png')
            background-size: cover
            background-position: 50% 50%

            // img 
            //     display: block
            //     max-width: 100%

        &--2
            flex-basis: 60%
            background: url('../img/block-img-2.png')
            background-size: cover
            background-position: 50% 50%
            position: relative

    &__leftCol
        position: absolute
        top: 3%
        left: 17%

    &__useCol
        position: relative

    &__plus
        position: absolute
        top: 10%
        left: 0

    &__rightCol
        position: absolute
        top: 3%
        left: 70%
    
    &__popup
        width: 350px
        // height: 180px
        display: flex
        flex-direction: column
        align-items: stretch
        justify-content: space-between
        border-radius: 10px
        background-color: #ffffff
        padding: 17px 25px

    &__row
        display: flex
        flex-direction: row
        justify-content: space-between
        position: relative

        &::before
            content: 'X'
            position: absolute
            top: 2%
            right: 2%

        h4 
            padding-top: 15px

    &__popup__li
        display: flex
        font-style: normal
        font-family: "Roboto-Light", sans-serif
        font-weight: normal
        font-size: 0.9em
        line-height: 142%
        padding: 5px 0
        
        img
            width: 16px
            height: 16px
            margin-right: 8px
