.block
    min-height: 620px
    background-color: #E5E5E5
    
    &__wrapper
        padding: 0
        padding-top: 166px

    &__container
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: center

    &__img
        flex-basis: 50%
        min-height: 620px

        &--1
            // background: url('../img/block-img-1.png')
            // background-size: cover
            // background-position: 50% 50%

            img 
                display: block
                max-width: 100%

        &--2
            // background: url('../img/block-img-2.png')
            // background-size: cover
            // background-position: 50% 50%
            position: relative

            img 
                display: block
                max-width: 100%

            area 
                cursor: pointer

        // &--plus
        //     position: absolute
        //     top: 96px
        //     left: 195px
        //     width: 27px
        //     height: 27px
        //     border-radius: 50%
        //     background-color: black
        //     display: flex
        //     justify-content: space-around
        //     align-items: center
        //     border: 1px solid black

        //     img 
        //         transform: scale(1.3)